CMakeFiles
CMakeCache.txt
bin
build
lib
cmakebuild

MakeFile
install_manifest.txt
.DS_Store
MakeBuild/MakeBuild

.vscode
.vs
*.a
*.lib
*.cmake
*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.user
*.proj
*.proj.filters
*.dir
x64
null.d
