Release
Debug
x64
*.db
*.opendb
*.obj
*.idb
*.pdb
*.obj
*.tlog
*.lib
.vs
*.exe
*.com
tags
xcode
.DS_Store
bin
lib
*.cmake
CMakeCache.txt
CMakeFiles
install_manifest.txt
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
vs_solution
